<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
  <img src="../../assets/logo.png" class="logo" alt="Logo" />

  <div class="title">
    <h2>{{ 'welcome' | translate }}</h2>
    <p>Enjoy the code crafts app</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top" fill="outline" (click)="register()" color="white">SIGN UP</ion-button>
    <ion-button expand="block" class="ion-margin-top" color="white" (click)="login()">LOGIN</ion-button>
  </div>
</ion-content>
